.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
  min-height: 55%;
  max-height: 55%;
  max-width: 60%;
}

.content img,
.content iframe {
  max-height: 95%;
  max-width: 100%;
}

.content > a {
  align-self: flex-end;
  margin: 0px;
  color: aliceblue;
  opacity: 30%;
  font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {
  .content img {
    max-height: 98%;
  }

  .content iframe {
    max-height: 98%;
  }
}
